<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" routerLink="comparador"><img width="300" alt="Angular Logo" src="  http://download.seaicons.com/icons/graphicloads/medical-health/256/heart-beat-2-icon.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" routerLink="comparador">Inicio</a>
      </li>     

      <!--Mostrar zonas privada si esta logueado-->
      <div class="dropdown">
        <button [disabled]="!logueado()" class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Zona Privada
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="fruta-crud">Listar fruta</a>
          <a class="dropdown-item" [routerLink]="['../detalle', -1]">Crear fruta</a>
        </div>
      </div>
      <!-- end privado-->
          
    </ul>
  </div>

  <!-- Login Usuario-->
  <app-login></app-login>
  <div *ngIf="logueado()">
      <a class="nav-link" (click)="cerrar()">Cerrar Sesion</a>
    </div>  
</nav>

<!-- Encargado de cambiar cada componente en funcion de la ruta-->
<div class="container">
  <router-outlet></router-outlet>
</div>